<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831782582429-je1m0uu9tvpd7ba0l8967ufjf474p359.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831782582429-je1m0uu9tvpd7ba0l8967ufjf474p359</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4uc4sswXkYBhYyIEXmJPRAh_JvrCgao</string>
	<key>GCM_SENDER_ID</key>
	<string>831782582429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.newpointer.fenix.bi.ios</string>
	<key>PROJECT_ID</key>
	<string>newpointer-fenix-bi</string>
	<key>STORAGE_BUCKET</key>
	<string>newpointer-fenix-bi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831782582429:ios:94578fb9d94bbd5615fc74</string>
	<key>DATABASE_URL</key>
	<string>https://newpointer-fenix-bi.firebaseio.com</string>
</dict>
</plist>